<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>This is the cart page for customer:</h1>
        <p> <%= userEmail %></p>
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% products.forEach(productItem => { %>
                    <li class="cart__item">
                        <h2><%= productItem.productId.title %></h2>
                        <h3>$<%= productItem.productId.price %></h3>
                        <div class="counter">
                            <div class="counter_btn">+</div>
                            <div class="counter_count"><%= productItem.quantity %></div>
                            <div class="counter_btn">-</div>
                        </div>
                        <h3>Subtotal: <%= productItem.productId.price * productItem.quantity %></h3>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" value="<%= productItem.productId._id %>" name="productId">
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            <hr>
            <div class="centered">
                <!-- <form action="/create-order" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn">Order Now!</button>
                </form> -->
                <a class="btn" href="/checkout">Order Now!</a>
            </div>

        <% } else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>